<div class="thumbnail">
  <img src="http://placehold.it/820x230">
  <div>
    <h4 class="pull-right">{{product?.price}}</h4>
    <h4>{{product?.title}}</h4>
    <h4>{{product?.desc}}</h4>
  </div>
  <div>
    <p class="pull-right">{{comments?.length}}</p>
    <p>
      <app-stars [rating]="product?.rating" [disableSelectStar]="true"></app-stars>
    </p>
  </div>
  <div>
    <button class="btn btn-default btn-lg" [class.active]="watched" (click)="isWatched()">{{!watched?'Watch':'Unwatch'}}</button>
    <label>The biding price is now at: ${{currentBid}}</label>
  </div>
</div>
<!-- show list of comment -->
<div class="well" *ngIf="comments?.length">
  <div class="row" *ngIf="isCommentHidden" class="comment-row">
    <button class="btn btn-primary" (click)="isCommentHidden = !isCommentHidden">Add Comment</button>
  </div>

  <div class="row" *ngIf="!isCommentHidden" class="comment-row">
    <app-stars [(rating)]="newRating" [disableSelectStar]="false"></app-stars>
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment" [(ngModel)]="newComment"></textarea>
    </div>
    <button class="btn btn-success" (click)="addComment()">Submit</button>
  </div>
  <div class="row" *ngFor="let comment of comments">
    <hr>
    <div class="col-md-12">
      <app-stars [rating]="comment.rating" [disableSelectStar]="true"></app-stars>
      <span>{{comment.user}}</span>
      <span class="pull-right">{{comment.timestamp}}</span>
      <p></p>
      <p>{{comment.content}}</p>
    </div>
  </div>
</div>
