<form [formGroup]="formModel" (ngSubmit)="onSubmit()">
  <div class="form-group" [class.has-error]="formModel.hasError('minlength','title')">
    <label for="productTitle">Product Title</label>
    <input formControlName="title" id="productTitle" type="text" class="form-control">
    <span class="help-block" [class.hidden]="!formModel.hasError('minlength','title')">Product ID has to be larger than length of 3</span>
  </div>

  <div class="form-group" [class.has-error]="formModel.hasError('positiveNumber','price')">
    <label for="productPrice">Product Price</label>
    <input formControlName="price" id="productPrice" type="text" class="form-control" placeholder="Product Price">
    <span class="help-block" [class.hidden]="!formModel.hasError('positiveNumber','price')">Product Price should not be less or equal than 0</span>
  </div>

  <div class="form-group">
    <label for="productCategory">Product Category</label>
    <select formControlName="category" id="productCategory" class="form-control">
        <option selected>All Category</option>
        <div *ngIf="categories$ | async as categories">
          <option *ngFor="let cat of categories;let i=index" [value]="cat">{{cat}}</option>
        </div>
    </select>
  </div>

  <div class="form-group">
    <!-- btn-block is css to extend btn to full fill the block -->
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
</form>
