<form name="searchForm" role="form">
  <div class="form-group">
    <label for="productTitle">Product Title</label>
    <input id="productTitle" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="productPrice">Product Price</label>
    <input id="productPrice" type="text" class="form-control" placeholder="Product Price">
  </div>

  <div class="form-group">
    <label for="productCategory">Product Category</label>
    <select id="productCategory" class="form-control">
        <option selected></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
  </div>

  <div class="form-group">
    <!-- btn-block is css to extend btn to full fill the block -->
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
</form>